#fullpage {
  animation: fadeIn 1s ease;
}


/* Banner Text */

.intro-title{
    position: relative;
	max-width: 85rem;
    margin: 27vh auto;
    z-index: 150;
    padding: 0px 3rem;
}

.intro-half{
    max-width: 85rem;
    margin: 30vh auto;
    padding: 0px 3rem;
}

.intro-mmek{
    position: absolute;
    top: 30;
    left: 0;
}

.whatitis{
	font-family: "voyager-bold", sans-serif;
    font-size: .8rem;
    text-transform: uppercase;
}

.process-summary{
    font-family: "voyager-medium-italic", sans-serif;
    font-size: 1.1rem;
    line-height: 2.2rem;
    margin-bottom: 3.5rem;
}

.red-process{
    color: #833471;
}

.pigment-process{
    color: #EA2027;
}

.purple-process{
    color: #5758BB;
}

.red-option{
    color:#B53471;
}

h1{
    font-family: 'voyager-bold', sans-serif;
    font-size: 3.3rem;
    margin: 2rem auto;
}

h3{
    font-family: 'voyager-light', sans-serif;
}

.subtitle{
    font-size: 1.7rem;
    font-family: 'BauerBodoniStd-BoldItalic', sans-serif;
    margin-bottom: 3rem;
}

.project-des{
	font-family: 'voyager-regular', sans-serif;
    font-size: 1rem;
    line-height: 1.8rem;
    letter-spacing: 1px;
    width: 32vw;
    padding-bottom: 2rem;
}

@media screen and (max-width: 500px) {
   .project-des { 
    	width:100%;  
  	}
}

.nda-line{
    font-family: 'voyager-light-italic', sans-serif;
    font-size: .8rem;
    line-height: 1.8rem;
    letter-spacing: 1px;
    width: 32vw;
/*    padding-bottom: 2rem;*/
}

@media screen and (max-width: 500px) {
   .nda-line { 
        width:100%;  
    }
}


.tags{
    font-family: "voyager-light", sans-serif;
    font-size: .7rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.tags span{
    color: black;
    border: 2px solid;
    padding: 8px 8px;
    margin: 2rem 1rem 0px 0px;
}


/* Inner Section content container*/

.new-intro{
    max-width: 85rem;
    margin: 0rem auto;
    padding: 2rem 3rem;
}


.intro{
	max-width: 85rem;
    margin: 0rem auto;
    padding: 5rem 3rem;
}

.intro-slide{
    max-width: 85rem;
    margin: 0rem 10rem;
    padding: 0rem 1rem;
}

.module-slide{
    max-width: 52%;
    margin: 0rem 2rem;
    padding: 0rem 1rem;
}

.decor-intro{
    max-width: 85rem;
    margin: 0rem 7rem;
    padding: 5rem 0rem 0rem 0rem;
}

.illustrative-slide-text{
    font-family: 'BodoniStd-PosterItalic', sans-serif;
    font-size: 2.5rem;
    line-height: 3.5rem;
    text-align: left;
    margin: 0px 0rem;
    padding-top: 0rem;
    margin-bottom: 2rem;
}

.outline{
    font-family: "BauerBodoniStd-Bold";
    font-size: 1.5rem;
}

.page img{
    box-shadow: 0px 1px 3px rgba(96,105,138, 0.12), 0px 1px 2px rgba(96,105,138, 0.24);
    border-radius: 2px;
}

h2{
	font-family: 'voyager-bold', sans-serif;
    font-size: 2.5rem;
    margin: 2rem 0px 4rem 0px;
    padding-bottom: 16px;
    width: 16vw;

}

.specs-molekule{
    color: rgba(0,0,0 1.0);
}

.specs-span-light{
    color: rgba(176, 176, 177, 1.0);
}

.specs-span-dark{
    color: rgba(111, 112, 112, 1.0);
}

.molekule-border{
    border-bottom: 6px solid rgba(0,0,0, 1.0);
}

.bitborder:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
/*    margin: 0 auto; /* This will center the border. */
    width: 24px; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 6px solid rgba(0,0,0, 1.0); /* This creates the border. Replace black with whatever color you want. */
}

.lightbitborder:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
/*    margin: 0 auto; /* This will center the border. */
    width: 24px; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 6px solid rgba(255,255,255, 1.0); /* This creates the border. Replace black with whatever color you want. */
}

.thinborder{
    border-bottom: 1px solid rgba(0,0,0, 1.0);
}

.specs-p{
	color: rgba(87, 88, 187, 1.0);
}

.purple-border{
    border-bottom: 6px solid rgba(87, 88, 187, 1.0);
}

.p-theme{
    color: #5758BB;
}

.specs-r{
    color: rgba(111, 30, 81, 1.0);
}

.specs-reds{
    color: rgba(234, 32, 39, 1.0);
}

.specs-molekule{
    color: rgba(83, 83, 84, 1.0);
}

.specs-blues{
    color: rgba(6, 82, 221, 1.0);
}

.specs-yellow{
    color: rgba(255, 195, 18, 1.0);
}

.specs-bara{
    color: rgba(237, 76, 103,1.0);
}

.specs-medit{
    color: rgba(18, 137, 167,1.0);
}

.red-border{
    border-bottom: 6px solid rgba(111, 30, 81,1.0);
}

.pigment-border{
    border-bottom: 6px solid rgba(234, 32, 39,1.0);
}

.merchant-border{
    border-bottom: 6px solid rgba(6, 82, 221,1.0);
}

.medit-border{
    border-bottom: 6px solid rgba(18, 137, 167,1.0);
}

.r-theme{
    color: #6F1E51;
}


.specs-div{
	width: 48%;
	float:left;
	display: inline-block;
	margin: 0 auto 0rem auto;
}

.half-glance{
    width: 42%;
    float: left;
    display: inline-block;
    margin: 0 auto 0rem auto;
}


.text-right{
    text-align: right;
}

.right{
	float: right;
}

.left{
    float: left;
}



.specs-label{
	/*font-family: "BauerBodoniStd-BlackItalic";*/
	font-family: "BodoniStd-PosterItalic";
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.tiny-spec{
    font-family: "BodoniStd-BoldItalic";
    font-size: 1rem;
    margin: 1.5rem auto 1rem auto;
}

.specs-detail{
	font-family: 'voyager-regular', sans-serif;
	font-size: 1rem;
}


.overview-label{
	font-family: "BauerBodoniStd-BlackItalic";
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.overview-div{
	display: inline-block;
}

.over-left{
	width: 58%;
	float: left;
}

.over-right{
	width: 38%;
	float: right;
}



.concept-text{
    display: inline-block;
    float:left;
    width: 80%;
}

.concept-image{
    position: relative;
    display: inline-block;
    float:left;
    width: 20%;
    padding-bottom: 76%;
    background-repeat:no-repeat;
}

/*.half-image{
    position: relative;
    display: inline-block;
    float:left;
    width: 50%;
    background-repeat:no-repeat;
}*/

.surround{
	width: 100%;
	height: inherit;
	display: inline-block;
}


.overview-detail{
	font-family: 'voyager-light', sans-serif;
	font-size: 1rem;
	line-height: 2rem;
}

.journey-detail{
    font-family: 'voyager-regular', sans-serif;
    font-size: .9rem;
    line-height: 1.5rem;
}

.summary-div{
	width: 100%;
}

.summary-detail{
	font-family: 'voyager-regular', sans-serif;
	font-size: 1rem;
	line-height: 2rem;
	padding-bottom: 2rem;
}

.quote-detail{
	font-family: 'voyager-medium', sans-serif;
	font-size: .9rem;
	line-height: 1.2rem;
}

.needs-detail{
	font-family: 'voyager-bold', sans-serif;
	font-size: 1rem;
	line-height: 2rem;
}

.might{
	font-family: 'voyager-medium', sans-serif;
	font-size: 1rem;
	line-height: 2rem;
	margin-bottom: 1rem;
}

.material{
    font-family: 'voyager-light', sans-serif;
    font-size: .9rem;
    line-height: 1.8rem;
    margin-bottom: 1rem;
}


#section5 img{
	width: 100%;
	margin: 0px auto 3rem auto;
}

.half-half{
    display: inline-block;
    padding: 0 0;
    margin: 0 0;
    width: 50%;
    height: 100vh;
}

.quarter{
    display: inline-block;
    padding: 0 0;
    margin: 0 0;
    width: 25%;
    height: 100vh;
}

.three-quarter{
    display: inline-block;
    padding: 0 0;
    margin: 0 0;
    width: 75%;
    height: 100vh;
}

.onefifth{
    display: inline-block;
    padding: 0 0;
    margin: 0 0;
    width: 20%;
    height: 100vh;
}


.twofifth{
    display: inline-block;
    padding: 0 0;
    margin: 0 0;
    width: 40%;
    height: 100vh;
}


.fourfifth{
    display: inline-block;
    padding: 0 0;
    margin: 0 0;
    width: 80%;
    height: 100vh;
}



.half-label{
    font-family: 'voyager-medium', sans-serif;
    font-size: 2.3rem;
    margin: 2rem auto;
}

.slide-white{
    background-color: white;
}

.slide-black{
    background-color: black;
}


.slight-white{
    background-color: rgba(255,255,255,.6);
}

.slight-gray{
    background-color: rgba(244,242,242,.6);
}

.molekule-green{
    background-color: rgba(207,  233, 219, 1);
}

.molekule-purple{
    background-color: rgba(197, 197, 242, 1);
}

.molekule-gray{
    background-color: rgba(169, 169, 169, 1);
}

.half-sunflower{
    background-color: rgba(255, 195, 18, .8);
}

.half-lavender{
    background-color: rgba(253, 167, 223,.1);
}

.half-radiant{
    background-color: rgba(238, 90, 36, .7);
}

.half-yellowish{
    background-color: rgba(247, 159, 31, .8);
}

.half-league{
    background-color: rgba(18, 137, 167, .1);
}


.polarr-text-slide{
    padding: 2rem 4rem;
}

.text-slide{
    padding: 5rem 4rem;
}

.polarr-slide{
    padding: 1rem 3rem;
}

.slide-des{
    font-family: 'voyager-regular','Lora', serif;
    font-size: 1rem;
    line-height: 2rem;
    margin-top: 8px;
}

@media screen and (min-width: 250px) {

    .slide-des{
        font-family: 'voyager-regular','Lora', serif;
        font-size: 1rem;
        line-height: 1.9rem;
        margin-top: 8px;
    }

    .overview-detail{
        font-family: 'voyager-light', sans-serif;
        font-size: .95rem;
        line-height: 1.8rem;
    }
}

.topper:first-line{
    font-variant: small-caps;
    letter-spacing: 2px;
}


/* Decorative Stuff */

.pQuick{
/*    color: rgba(253, 167, 223,1.0);*/
    font-family: 'voyager-medium';
}

.number{
	font-family: 'BauerBodoniStd-BlackItalic';
	font-size: 1.5rem;
}

.senses{
    font-family: 'voyager-light', sans-serif;
    font-size: 1rem;
}

.sense{
    font-family: "voyager-bold";
    color: #9980FA;
}

.red-subLabel{
    font-family: "voyager-bold";
    color: #EE5A24;
}

.bolder{
	font-family: 'voyager-bold', sans-serif;
}

a{
	color: rgba(87, 88, 187,1.0);
}

.bracket{
	font-family: "BauerBodoniStd-Italic";
}

.ital{
    font-family: "voyager-medium-italic", sans-serif;
}

.carrot{
	font-family: "BodoniStd-Poster", sans-serif;
}

.grape{
    width: 45px;
    float: left;
    display: inline-block;
}

.symbol{
    width: 36px;
    float: left;
    display: inline-block;
}

.tidbit{
    font-size: 1rem;
}

.gardenQ{
    font-size: 3em;
    padding-right: 4px;
    vertical-align: -20px;
    color: #806DFF;
    height: 20px;
}

.thrive-special{
    color: #9980FA;
    line-height: 1.5rem;
    font-size: 1.2rem;
    font-family: 'BauerBodoniStd-BoldItalic', serif;
    margin: 0 auto 2rem auto;
    white-space:normal;
    word-wrap: break-word;
}

.fp-controlArrow.fp-prev {
    border-color: transparent #535354 transparent transparent;
}
.fp-controlArrow.fp-next {
    border-color: transparent transparent transparent #535354;
}

.caption{
    font-size: .8rem;
    text-transform: uppercase;
    color: #9980FA;
    font-family: 'voyager-bold', sans-serif;
    border-bottom: 1px solid  rgba(87, 88, 187,1.0);
    width: 8rem;
    line-height: 1rem;
    padding-bottom: 16px;
}

.thirds .caption{
    text-align: right;
}

.thirds-text{
    padding: 0rem 3rem;
}

.caption-pigment{
    font-size: .8rem;
    text-transform: uppercase;
    color: #EE5A24;
    font-family: 'voyager-bold', sans-serif;
    border-bottom: 1px solid  rgba(247, 159, 31,1.0);
    width: 8rem;
    line-height: 1rem;
    padding-bottom: 16px;
}

.caption-red{
    font-size: .8rem;
    text-transform: uppercase;
    color: #833471;
    font-family: 'voyager-bold', sans-serif;
    border-bottom: 1px solid  rgba(111, 30, 81,1.0);
    width: 8rem;
    line-height: 1rem;
    padding-bottom: 16px;
}

.caption-polarr{
    font-size: .8rem;
    text-transform: uppercase;
    color: black;
    font-family: 'voyager-bold', sans-serif;
    border-bottom: 1px solid  rgba(18, 137, 167,1.0);
    width: 8rem;
    line-height: 1rem;
    padding-bottom: 16px;
}

.item-list{
    line-height: 2rem;
    font-size: 1.15rem;
    font-family: 'BauerBodoniStd-BlackItalic', serif;
    margin: 8px auto;
    white-space: normal;
    word-wrap: break-word;
    word-spacing: 24px;
}

.look-feel{
    line-height: 2rem;
    font-size: 1.15rem;
    font-family: 'BauerBodoniStd-BlackItalic', serif;
    margin: 8px auto;
    white-space: normal;
    word-wrap: break-word;
    word-spacing: 4px;
}

.thirds{
    width: 33.3%;
    display: inline-block;
    float: left;
    position: relative;
}

.onethird{
    width: 33.3%;
    height: 100%;
    display: inline-block;
    float: left;
    position: relative;
}

.twothird{
    width: 66.6%;
    height: 100%;
    display: inline-block;
    float: left;
    position: relative;
}

.featureTitleHalf{
    width: 50%;
    height: 100%;
    display: inline-block;
    float: left;
    position: relative;
    margin: 8rem 0rem;
}

.featureTextHalf{
    width: 50%;
    height: 100%;
    display: inline-block;
    float: left;
    position: relative;
    margin: 8rem 0rem;
}


.quarters{
    width: 25%;
    display: inline-block;
    float: left;
    position: relative;
}

.quarters img, .thirds img{
    display: block;
    margin: 0 auto;
}

.illustrative-text{
    padding-top: 4rem;
    font-family: 'BodoniStd-PosterItalic', sans-serif;
    font-size: 2.5rem;
    line-height: 3.5rem;
}

.illustrative-center{
    margin: 2rem auto 0rem auto;
    font-family: 'BodoniStd-PosterItalic', sans-serif;
    font-size: 1.2rem;
    line-height: 2.5rem;
    text-align: center;
    color: white;
}

.veryberry{
    color: #B53471;
}

.hollyhock{
    color: #833471;
}

.barared{
    color: #ED4C67;
}

.text-right{
    font-family: 'BodoniStd-BoldItalic', sans-serif;
    text-align: right;
    font-size: 1.5rem;
}

.centered{
    text-align: center;
}

.extra-padding{
    padding-top: 2rem;
}

.extra-margin{
    margin-top: 4rem;
}

/* angled div */

.slanted {
  font-size: 1rem;
  letter-spacing: .025em;
  line-height: 2rem;
  overflow: hidden;
  width: 76%;
}

.push {
  /*background-color: red;*/
  clear: right;
  float: right;
  height: 2rem;
  display: block;
}

@media screen and (max-width: 500px) {
   .specs-div, .over-right, .over-left, .half-half { 
        width:100%; 
    }

    h2{
        width: 60vw;
    }

    .push{
        display: none;
    }

    .slanted{
        height: 400px;
    }

    .thirds{
        width: 100%;
    }

    .quarters{
        width:100%;
    }

    .illustrative-text{
        padding-top: 2.5rem;
        font-size: 1.5rem;
    }
}



/* Thrive images */

.snap{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 2px;
    min-height: 60vh;
}

#leiden{
    background-image: url(../design/thrive_assets/leiden.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#citizens{
    background-image: url(../design/thrive_assets/citizens2.jpg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#voronoi{
    background-image: url(../design/thrive_assets/voronoi1.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#blossom{
    background-image: url(../design/thrive_assets/blooms2.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#ground{
    background-image: url(../design/thrive_assets/edgeshadowFinal.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#greenery{
     background-image: url(../design/thrive_assets/greenhouse.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#garlic{
    background-image: url(../design/thrive_assets/alliumFull5.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#siteplan{
    background-image: url(../design/thrive_assets/leidenSitePlanRight.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}


#slide1-thrive{
    background-image: url(../design/thrive_assets/senses.jpg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#slide2-thrive{
    background-image: url(../design/thrive_assets/fullShotLightBG.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#slide3-thrive{
    background-image: url(../design/thrive_assets/siteMap.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#slide2-mmek{
    background-image: url(../design/mmek_assets/research_1.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
    padding-bottom: 670px;
}

#slide3-mmek{
    background-image: url(../design/mmek_assets/research_2.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
    padding-bottom: 670px;
}

#radial{
     background-image: url(../design/mmek_assets/radialTogether.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#escher{
    background-image: url(../design/yore_assets/wonderland/escher.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#moire{
    background-image: url(../design/yore_assets/wonderland/Moire.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#cluster{
     background-image: url(../design/mmek_assets/forceTogether.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#illusion0{
    background-image: url(../design/yore_assets/wonderland/sketch_bg.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#charlotte0{
    background-image: url(../design/yore_assets/charlotte/charlotte_bg.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#charlotte4{
    background-image: url(../design/yore_assets/charlotte/web_bg.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}


#principle{
    background-image: url(../design/yore_assets/charlotte/principles.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#klmlaunch{
    background-image: url(../design/yore_assets/payKLM/klm_home_ba.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#klmlogin{
    background-image: url(../design/yore_assets/payKLM/klm_login_ba.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}
#klmbooking{
    background-image: url(../design/yore_assets/payKLM/klm_booking_ba.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#payklm0{
    background-image: url(../design/yore_assets/payKLM/payklm_bg.jpg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#pp_1{
     background-image: url(../design/yore_assets/payKLM/pp_desktop.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#pp_2{
     background-image: url(../design/yore_assets/payKLM/paypalmobile.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

.glance img{
    width: 100%;
}

#prince0{
    background-image: url(../design/thesis_assets/cover.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#prince1{
    background-image: url(../design/thesis_assets/back-cover.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#prince2{
    background-image: url(../design/thesis_assets/princebookmark.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#starcover{
    background-image: url(../design/thesis_assets/starcover.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#props{
    background-image: url(../design/thesis_assets/props.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#chaptercovers{
    background-image: url(../design/thesis_assets/chapter_covers.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#appendix{
    background-image: url(../design/thesis_assets/extras.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}


#tablecontents{
    background-image: url(../design/thesis_assets/tablecontents.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}


#princequote{
    background-image: url(../design/thesis_assets/princequote.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#logotype1{
    background-image: url(../design/polarr_assets/logotype-01.svg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#logotype2{
    background-image: url(../design/polarr_assets/logotype-02.svg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}


#aura1{
    background-image: url(../design/polarr_assets/identity_aura.svg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#aura2{
    background-image: url(../design/polarr_assets/identity_aura_2.svg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: contain;
}

#swatches{
    background-image: url(../design/polarr_assets/colormark-14.svg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#typog1{
    background-image: url(../design/polarr_assets/typography_labels.svg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: contain;
}

#typog2{
    background-image: url(../design/polarr_assets/typography_labels2.svg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: contain;
}

.generator{
    /*width: 88%;*/
     max-width: 80%;
}

.prototype{
    max-width: 60%;
}

.aligncenter {  
 text-align: center;
 display: flex;
 align-items: center;
}

.aligncenter img{
    margin: 0 auto;
}

.redArrow .fp-controlArrow{
    border-color: transparent transparent transparent #6F1E51;
}

.redArrow .fp-prev{
    border-color: transparent #6F1E51 transparent transparent;
}

.pigmentArrow .fp-controlArrow{
    border-color: transparent transparent transparent #EA2027;
}

.pigmentArrow .fp-prev{
    border-color: transparent #EA2027 transparent transparent;
}

.blueArrow .fp-controlArrow{
    border-color: transparent transparent transparent #0652DD;
}

.blueArrow .fp-prev{
    border-color: transparent #0652DD transparent transparent;
}

.tealArrow .fp-controlArrow{
    border-color: transparent transparent transparent #1289A7;
}

.tealArrow .fp-prev{
    border-color: transparent #1289A7 transparent transparent;
}



/* MMEK Pictures */

#london{
    background-image: url(../design/mmek_assets/london.png);
}

#zuidas{
    background-image: url(../design/mmek_assets/zuidas.png);
}

.affinity{
    background-image: url(../design/mmek_assets/affinity.png);
    background-position:center right;
    background-repeat:no-repeat;
    background-size: cover;
}

#pillar{
    background-image: url(../design/mmek_assets/towers.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

.background-img{
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
    padding-bottom: 100%;
}

#cloud1{
    background-image: url(../design/mmek_assets/cloud_1.png);
}

#cloud2{
    background-image: url(../design/mmek_assets/cloud_2.png);
}

#cloud3{
    background-image: url(../design/mmek_assets/cloud_3.png);
}

#cloud4{
    background-image: url(../design/mmek_assets/cloud_4.png);
}

#cloud5{
    background-image: url(../design/mmek_assets/cloud_5.png);
}

#cloud6{
    background-image: url(../design/mmek_assets/cloud_6.png);
}

#whoOne{
    background-image: url(../design/mmek_assets/ideaviz.png);
}

#whoTwo{
    background-image: url(../design/mmek_assets/treeviz.png);
}

#stairs{
    background-image: url(../design/mmek_assets/stairman.png);
}

#space1{
    background-image: url(../design/mmek_assets/space_1.png);
}

#space2{
    background-image: url(../design/mmek_assets/space_5.png);
}

#space3{
    background-image: url(../design/mmek_assets/space_3.png);
}

#space4{
    background-image: url(../design/mmek_assets/space_4.png);
}

#space5{
    background-image: url(../design/mmek_assets/space_5.png);
}

#space6{
    background-image: url(../design/mmek_assets/space_6.png);
}

#poly1{
    background-image: url(../design/yore_assets/wonderland/sketch_polygons.png);
}

#poly2{
    background-image: url(../design/yore_assets/wonderland/polygon_explore.png);
}

#poly3{
    background-image: url(../design/yore_assets/wonderland/polygon_form.png);
}


#moire1{
    background-image: url(../design/yore_assets/wonderland/moire_sketch.png);
}

#moire2{
    background-image: url(../design/yore_assets/wonderland/moire_explore.png);
}

#moire3{
    background-image: url(../design/yore_assets/wonderland/moire_form.png);
}

#KLM1{
    background-image: url(../design/yore_assets/payKLM/Original_KLM_Login.png);
}

#KLM2{
    background-image: url(../design/yore_assets/payKLM/KLM_1.jpg);
}

#pharma0 iframe{
    position:absolute;
    z-index: 0;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border: none;
    opacity: .4;
}

#pharma0 .intro{
    position: relative;
    z-index: 20;
    /*background-color: rgba(255,255,255,.9);*/
}

/*
#all-webs{
    margin: 24px auto 48px auto;
    display: inline-block;
    width: 100%;
    height: 280px;
    padding: 10px 10px;
    border-left: 1px solid rgba(255, 23, 68, .2);
    border-top: 1px solid rgba(255, 23, 68, .2);
    border-bottom: 1px solid rgba(255, 23, 68, .2);
}*/

#webs img{
    /*display: inline-block;*/
    height: 400px;
}


.polyhedrons img{
    /*display: inline-block;*/
    height: 200px;
}

.container-poly{
    padding: 6rem 5rem;
    display: flex;
    justify-content: space-between;
}

.container-webs{
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
}

#section5-prince{
    background-image: url(../design/thesis_assets/star_bg.png);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#prince15{
    background-image: url(../design/thesis_assets/whole_book.png);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.prince9 .overview-label{
    text-align: center;
    font-size: 1.6rem;
    margin: 2rem auto;
}

/* Molekule specific stuff */

.molekule-glance{
    background-image: url(../design/molekule_assets/filter_glance.png);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.molekule-approach{
    background-image: url(../design/molekule_assets/filter_approach.png);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.span-drive-glance{
    background-image: url(../design/span_assets/drive_glance.png);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.span-powerup-glance{
    background-image: url(../design/span_assets/powerup_glance.png);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.span-drive-splash{
    background-image: url(../design/span_assets/drive_splash.png);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dynamic-glance{
    background-image: url(../design/span_assets/dynamic_glance.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rate-glance{
    background-image: url(../design/span_assets/rate_glance.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.spanDynamicOverview{
    background-image: url(../design/span_assets/carHouse_overlay.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#span-exploration{
    background-image: url(../design/span_assets/dynamicExploration.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#span-storyboard{
    background-image: url(../design/span_assets/dynamicStoryboard.svg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: contain;
}

.dynamic-result{
    background-image: url(../design/span_assets/ChargeDynamically_Dimming_notrans.gif);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: contain;

    height: 70vh;
    padding:0;
    margin:0;
}


.key-detail{
    font-family: 'voyager-bold', sans-serif;
    line-height: 2.4rem;
}

.meta-detail{
    font-family: 'voyager-light', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
}

.meta-label{
    font-family: "BauerBodoniStd-BlackItalic";
    font-size: .9rem;
    margin: 1.5rem auto .5rem auto;
}

.sub-label{
    font-family: "voyager-medium";
    font-size: .9rem;
    margin: 1.1rem auto .53rem auto;
/*    color: rgba(169,169,169,1);*/
}

.context-label{
    font-family: "BauerBodoniStd-BlackItalic";
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.half-label-long{
    font-family: 'voyager-medium', sans-serif;
    font-size: 2.3rem;
    margin: 2rem auto;
    line-height: 2.8rem;
}

.molekule-splash{
    background-image: url(../design/molekule_assets/molekulesplash.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}


#km-entry-result{
    background-image: url(../design/molekule_assets/dot-result.svg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#km-entry-iteration{
    background-image: url(../design/molekule_assets/dot-iteration.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#km-entry-contrast{
    background-image: url(../design/molekule_assets/dot-contrast-1.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: contain;
}

#km-entry-beforeafter{
    background-image: url(../design/molekule_assets/dot-contrast-3.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}


#km-filter-status{
    background-image: url(../design/molekule_assets/filterstatus-splash.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#km-filter-ba{
    background-image: url(../design/molekule_assets/filterstatus-ba.svg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#km-filter-copy{
    background-image: url(../design/molekule_assets/filterstatus-copy.svg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#km-cart{
    background-image: url(../design/molekule_assets/cart-iteration.svg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: contain;
}

#molekule-more{
    background-image: url(../design/molekule_assets/moretab.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}

#molekule-flows{
    background-image: url(../design/molekule_assets/purchaseflow.svg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: contain;

}


.purchasing{
    background-image: url(../design/molekule_assets/editing.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: cover;
}




.molekulegradient{
    background-color: #ffffff;
    animation: change-color-anim 20s linear infinite;
}

.splashcenter{
    width: 100%;
    margin:0 auto;
}

.splashcenter img{
    width: 80%;
    margin: 0 auto;
    display: block;
}

.splashcaption{
    width:100%;
    line-height: 2rem;
    display: inline-block;
    text-align: center;
    font-family: 'voyager-regular';
    font-size: .8rem;
/*    color: rgba(169,169,169,1);*/
    color: rgba(83, 83, 84, 1);
/*    padding-bottom: 24px;*/
}

.bottomcaption{
    position: absolute;
    height: 64px;
    bottom:0;
    width:100%;
    line-height: 2rem;
    display: block;
    text-align: center;
    font-family: 'voyager-regular';
    font-size: .8rem;
    color: rgba(83, 83, 84, 1);
}


@keyframes change-color-anim {
    0%,100%{
        background-color: #98EABB;
    }
    20%{
        background-color: #FFEB99;
    }
    40%{
        background-color: #EA92A9;
    }
    60%{
        background-color: #ACACE5;
    }
    80%{
        background-color: #CFE9DB;
    }
}

/* polarr backdroung stuff */

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}


#particles-js{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
    /*background: 
        radial-gradient(158.89% 56.88% at 42.67% 96.12%, #9EE6BE 0%, rgba(158, 230, 190, 0.22) 100%), 
        radial-gradient(80.57% 57.84% at 21.87% 52.59%, #C5FFDA 0%, rgba(197, 255, 218, 0.38) 100%), 
        radial-gradient(158.52% 55% at 19.33% 76.6%, #98EABB 0%, rgba(152, 234, 187, 0.19) 100%);*/

    background: radial-gradient(232.65% 70.89% at 67.07% 125.62%, #A8A8E2 0%, rgba(168, 168, 226, 0.17) 100%), 
    radial-gradient(99.84% 81.3% at 46.27% 47.11%, rgba(194, 194, 249, 0.79) 0%, rgba(194, 194, 249, 0.42) 100%), 
    radial-gradient(65.71% 65.45% at 43.47% 63.92%, rgba(172, 172, 229, 0.71) 0%, rgba(172, 172, 229, 0.26) 100%);

}

#designParticle-js{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
}


.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(../design/polarr_assets/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(../design/polarr_assets/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 400s linear infinite;
  -ms-animation:move-twink-back 400s linear infinite;
  -o-animation:move-twink-back 400s linear infinite;
  -webkit-animation:move-twink-back 400s linear infinite;
  animation:move-twink-back 400s linear infinite;
}

/* Polarr Color Palette Specialty */


#neon-signs {
  width: 100%;
  margin: auto;
  padding: 4rem 2rem;
/*  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(0, 12ch));
  align-items: center;
  align-content: center;
  justify-content: center;*/

}

/*Neon*/
#neon-signs p {
  /*text-align: center;*/
  font-size: calc(.1em + 2.1vmax);
  margin: 2rem 2rem;
  line-height: 1em;
}

#neon-signs .neon {
  font-family: "voyager-light";
  text-decoration: none;
/*  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;*/
}

#neon-signs p:nth-child(1) .neon {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #1adae4, 0 0 70px #1adae4, 0 0 80px #1adae4, 0 0 100px #1adae4, 0 0 150px #1adae4;
}

/*#neon-signs p:nth-child(1) .neon:hover {
  color: #1adae4;

}*/

#neon-signs p:nth-child(2) .neon {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #f7860d, 0 0 70px #f7860d, 0 0 80px #f7860d, 0 0 100px #f7860d, 0 0 150px #f7860d;
}

/*#neon-signs p:nth-child(2) .neon:hover {
  color: #f7860d;
  text-shadow: none;
}*/

#neon-signs p:nth-child(3) .neon {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #02e47d, 0 0 70px #02e47d, 0 0 80px #02e47d, 0 0 100px #02e47d, 0 0 150px #02e47d;
}
/*
#neon-signs p:nth-child(3) .neon:hover {
  color: #02e47d;
  text-shadow: none;
}*/

#neon-signs p:nth-child(4) .neon {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #a538ff, 0 0 70px #a538ff, 0 0 80px #a538ff, 0 0 100px #a538ff, 0 0 150px #a538ff;
}

/*#neon-signs p:nth-child(4) .neon:hover {
  color: #a538ff;
  text-shadow: none;

}*/

#neon-signs p:nth-child(5) .neon {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #d9e400, 0 0 70px #d9e400, 0 0 80px #d9e400, 0 0 100px #d9e400, 0 0 150px #d9e400;
}

/*#neon-signs p:nth-child(5) .neon:hover {
  color: #d9e400;
  text-shadow: none;

}*/

#neon-signs p:nth-child(6) .neon {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #e40a01, 0 0 70px #e40a01, 0 0 80px #e40a01, 0 0 100px #e40a01, 0 0 150px #e40a01;
}

/*#neon-signs p:nth-child(6) .neon:hover {
  color: #e40a01;

}*/

#neon-signs p:nth-child(7) .neon {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #e40167, 0 0 70px #e40167, 0 0 80px #e40167, 0 0 100px #e40167, 0 0 150px #e40167;
}

/*#neon-signs p:nth-child(7) .neon:hover {
  color: #e40167;

}
*/

#neon-signs p:nth-child(8) .neon {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #0273ff, 0 0 70px #0273ff, 0 0 80px #0273ff, 0 0 100px #0273ff, 0 0 150px #0273ff;
}


#neon-signs p .neon:hover {
  /*transition: color 20ms ease;*/
}

#neon-signs p:nth-child(9) .neon {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #e400d9, 0 0 70px #e400d9, 0 0 80px #e400d9, 0 0 100px #e400d9, 0 0 150px #e400d9;
}


/*REEEEEEEEEEESPONSIVE*/

@media (max-width: 1200px) {
  #neon-signs {
    width: 100%;
  }
  #neon-signs p {
    font-size: 3.5rem;
    margin: 2rem 2rem;
  }
}

.whiteText{
    color: white;
}

.polarrdash{
    font-family: "voyager-bold";
    font-size: 2rem;
}

/* Polarr Colors */

.polarrneon{
    background: rgb(2,228,125);
    background: linear-gradient(90deg, rgba(2,228,125,1) 0%, rgba(217,228,0,1) 25%, rgba(247,134,13,1) 40%, rgba(228,0,217,1) 70%, rgba(165,56,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.polarrteal{
 color: #1adae4;
}

.polarrviolet{
 color: #e40167;
}

.prototypeBlack{
 background-color: #000000;
}

.prototypeDark{
 background-color: #4c4c4c;
}

.prototypeMedium{
    background-color: #999999;
}

.black-border{
    border-bottom: 6px solid rgba(0,0,0,1);
}

.specs-polarr-pink{
    color: rgba(228,1,103,1);
}


.polarr-border-pink{
    border-bottom: 6px solid rgba(69,0,31,1);
}

.specs-polarr-teal{
    color: rgba(0,158,169,1);
}


.polarr-border-teal{
    border-bottom: 6px solid rgba(0,158,169,1);
}


#logoVisual{
    background-image: url(../design/polarr_assets/logoVisualResearch.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: contain;
}

#logoDesign{
    background-image: url(../design/polarr_assets/logoDesignResearch.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: contain;
}

#earlyStudies{
    background-image: url(../design/polarr_assets/logoStudies.svg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: contain;
}


#fullPolarrLogo{
    background-image: url(../design/polarr_assets/fullLogo.svg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: contain;
}

#betaPolarr{
    background-image: url(../design/polarr_assets/beta_splash.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: contain;
}

#colorStudy{
    background-image: url(../design/polarr_assets/colorStudies.svg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size: contain;
}

video {
/*    width: 90% !important;
    height: auto !important;
    margin-top: 3rem;
    max-width: 700px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);*/

    max-width: 70%;
    height: auto !important;
}

.video-container:focus{
  outline :none;
}

.neonGradient{
background: rgb(26,218,228);
background: -moz-linear-gradient(45deg, rgba(26,218,228,0.2) 36%, rgba(228,1,103,0.2) 100%);
background: -webkit-linear-gradient(45deg, rgba(26,218,228,0.2) 36%, rgba(228,1,103,0.2) 100%);
background: linear-gradient(45deg, rgba(26,218,228,0.2) 36%, rgba(228,1,103,0.2) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1adae4",endColorstr="#e40167",GradientType=1);
}

.molekuleGreenGradient{
    background: radial-gradient(91.56% 90.24% at 50.13% -4.74%, rgba(244, 242, 242, 0.12) 0%, rgba(244, 242, 242, 0.06) 100%), radial-gradient(42.75% 65.04% at 39.2% -3.63%, rgba(225, 244, 233, 0.63) 0%, rgba(225, 244, 233, 0.04) 100%), radial-gradient(110.35% 89.3% at 42.27% 84.67%, #CFE9DB 0%, rgba(207, 233, 219, 0.81) 100%);
}


.molekuleGray{
    background: radial-gradient(236.64% 115.03% at 72.67% 93.84%, #D7D5D4 0%, rgba(215, 213, 212, 0.00) 94.09%), radial-gradient(70.92% 93.13% at -14.67% 22.29%, #F4F2F2 27.69%, rgba(244, 242, 242, 0.13) 67.37%), radial-gradient(66.23% 83.91% at 21.33% 30.73%, rgba(255, 255, 255, 0.35) 0%, #FFF 100%, #FFF 100%);
}

.molekuleLime{
    background: radial-gradient(158.89% 56.88% at 42.67% 96.12%, #9EE6BE 0%, rgba(158, 230, 190, 0.22) 100%), radial-gradient(80.57% 57.84% at 21.87% 52.59%, #C5FFDA 0%, rgba(197, 255, 218, 0.38) 100%), radial-gradient(158.52% 55% at 19.33% 76.6%, #98EABB 0%, rgba(152, 234, 187, 0.19) 100%);
}

/* SPAN background intro */

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  -webkit-animation: drop 7s 0s infinite;
          animation: drop 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.line:nth-child(1) {
  margin-left: -24%;
}
.line:nth-child(1)::after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #00B0D3 75%, #00B0D3 100%);
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.line:nth-child(3) {
  margin-left: 24%;
}
.line:nth-child(3)::after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #787BFF 75%, #787BFF 100%);
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.line:nth-child(4) {
  margin-left: 48%;
}
.line:nth-child(4)::after {
     background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #FFE620 75%, #FFE620 100%);
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.line:nth-child(5) {
  margin-left: -48%;
}
.line:nth-child(5)::after {
     background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #2094FA 75%, #2094FA 100%);
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

@-webkit-keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

.caveatdetail{
    font-family: 'voyager-regular', sans-serif;
    font-size: .8rem;
    margin: 1rem auto 4rem auto;
    text-align: center;
    width: 50%;
}

.caveatheader{
    font-family: "BodoniStd-BoldItalic";
    font-size: 1.4rem;
    margin: 4rem auto 1rem auto;
    text-align: center;
}

.splashImage{
    height: 80vh;
}

.featuredetail{
    font-family: 'voyager-regular', sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 2.2rem;
    margin: 0rem auto;
    text-align: left;
    width: 100%;
}

h4{
    font-family: 'voyager-bold', sans-serif;
    font-size: 2.5rem;
    margin: 2rem 0px 2rem 0px;
    width: 16vw;
    padding-bottom: 16px;
    line-height: 2.8rem;
}


.uxrCaption{
    position: absolute;
    height: 5.5vh;
    bottom:0;
    width: 100%;
    line-height: 2rem;
    display: block;
    text-align: center;
    font-family: 'voyager-regular';
    font-size: .8rem;
}


.spanSoftBlack{
    color: rgba(33, 33, 33, 1.0);
}

.spanDarkGray{
    color: rgba(111, 112, 112, 1.0);
}

.spanSoftWhite{
    color: rgba(250, 250, 250, 1.0);
}

.spanDriveTeal{
    background-color: rgba(0, 176, 211, 1.0);
}
